body{
    margin: 0;
}
.container-lado-esquerdo{
    background-color: #fefefe;
    width: 50%;
    height: 100vh;
    
}
.container-site{
    display: flex;
}
.container-lado-direiro{
    background-color: #fefefe;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-lado-direiro img{
    border-radius: 50px;
    box-shadow: 0 0 10px #6f1ab4;
}
.container-lado-esquerdo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.container-lado-esquerdo button{
    border: 1px solid #000;
    background-color: #000;
    color: #fefefe;
    padding: 10px;
    border-radius: 10px;
}
